html, body {
  width: 100%;
}

.textbox {
  padding: 0.5%;
  margin: 0.5%;
  font: bold 1.5em "Open Sans", sans-serif;
}

.textbox>.contents {
  border: 1px solid black;
  padding: 1%;
  font: normal 0.75em monospace;
}

#output {
}
